<html>

<head>
    <!-- 引入各种库 -->
    <meta charset="utf-8" name="viewport"
        content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="https://static.runoob.com/assets/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="bulma.css" />
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<!--     <script src="capture.js"></script> -->
    <!-- 标题 -->
    <title>云音乐</title>
    <style>
        /* 图片旋转 */
        #image {
            animation: myfirst 20s linear 2s infinite alternate;
            -webkit-animation: myfirst 20s linear 0s infinite normal;
            -moz-animation: myfirst 20s linear 0s infinite normal;
            -o-animation: myfirst 20s linear 0s infinite normal;
        }

        @keyframes myfirst {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        /* 旋转 */
        .rotate {
            animation: myfirst 20s linear 2s infinite alternate;
            -webkit-animation: myfirst 20s linear 0s infinite normal;
            -moz-animation: myfirst 20s linear 0s infinite normal;
            -o-animation: myfirst 20s linear 0s infinite normal;
        }

        @keyframes myfirst {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }

        .mactive {
            color: rgb(244, 121, 131);
        }

        .mnormal {
            color: grey;
        }

        .ccard {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        .linehight {
            font-size: 14px;
            font-weight: bold;
            color: white !important;
            background-image: none !important;
            background: transparent !important;
        }

        .table td,
        .table th {
            font-size: 0.75rem !important;
        }

        #app {
            min-width: 100%;
            min-height: 100%;
            background-color: #ff6600;
        }

        #playerBar {
            position: fixed;
            right: 10px;
            bottom: 30px;
            z-index: 997;
            width: 50px;
            height: 50px;
            box-shadow: 1px 1px 2px 2px silver;
            border-radius: 50%;
        }

        .playerTag {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 50px;
            background: #ff6600;
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }

        .lrcPart{
            width: 100%;
            min-height: 200px;
            color: white;
            text-align: center;
            overflow-y: hidden;
            margin-top: 50px;
        }

        #lyric{
            text-decoration: none;
            font-size: 12px;
            font-family:楷体;
            overflow-y: hidden;
        }

        .playCardPart{
            width: 100%;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background: white;
            position: fixed;
            bottom: 0px;
            left: 0px;
            box-shadow: 3px 3px 5px 5px silver;
        }

        #str{
            float: left;
            margin-left: 5px;
            font-size: .25rem;
        }

        #listArea{
            padding: 10px;
            width:100%;
            display:flex;
            flex-direction:column;
            align-items:center;
            margin-bottom:120px;
            z-index: 777;
        }

        #playCard{
            z-index: 888;
            background: #ff6600;
            filter: blur(0.5px);
            height: 100%;
            width: 100%;
            position: relative; 
            display: none;
        }

        #searchArea{
            position: sticky;
            top:0px;
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            background: #fff;
            padding: 10px;
            border-top:0px;
            z-index: 777;
        }
    </style>
</head>

<body>
    <div id="app">
        <div id="playerBar">
            <i class="fa fa-play-circle playerTag" @click="showPlayer()"></i>
        </div>

        <!-- 这里是显示收藏夹 -->
        <div style="z-index:999;width: 80%;background: white;border: 1px solid silver; border-radius: 0px 0px 8px 8px;box-shadow: 3px 5px 5px silver;display: none; min-height: 120px; max-height: 80%;overflow-y: scroll;"
            class="ccard" id="card">
            <div
                style="min-height: 30px;padding:5px;width:100%;background:#ff6600;display: flex;flex-direction: row;justify-content: space-between;position: sticky;top: 0px;">
                <div style="font-size: 14px;margin:5px;color:white">
                    个人收藏
                </div>
                <div style="display: flex;justify-content: center;align-items: center;">
                    <i class="fa fa-window-close" style="font-size:20px;color:white;" @click="closeCard()"></i>
                </div>
            </div>
            <div v-if="collects.length == 0" style="text-align: center;margin: 20px;font-size:6px;">空空如也~~</div>
            <table class="table is-scripted is-hoverable is-fullwidth" style="width: 90%;margin: 0px auto;">
                <thead style="width: 100%;font-size: 8px;" v-if="collects.length>0">
                    <!--  -->
                    <th>歌曲名称</th>
                    <th>演唱者</th>
                </thead>
                <tbody style="overflow-y: scroll;margin: 0 auto;width: 100%;font-size: 8px;">
                    <tr @click="listen3(music)" style="width: 100%;font-size: 8px;" v-for="music in collects">
                        <td style="word-wrap: break-word;word-break: break-all;">{{music.name}}</td>
                        <td style="word-wrap: break-word;word-break: break-all;">{{getName(music.artist)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 搜索框 -->
        <div id="searchArea">
            <input class="input" type="text" placeholder="请输入歌曲名称" id="searchInput" v-on:keyup.enter="search()" />
            <span style="padding-left: 20px;"><button class="button" style="background: #ff6600;color: white"
                    @click="search()">搜索</button></span>
        </div>

        <!-- 播放列表 -->
        <div id="listArea">
            <table class="table is-scripted is-hoverable is-fullwidth">
                <thead style="width: 100%;" v-if="musics.length>0">
                    <th>歌曲名称</th>
                    <th>演唱者</th>
                </thead>
                <tbody style="overflow-y: scroll;margin: 0 auto;width: 100%;">
                    <tr @click="listen4(music)" style="width: 100%;" v-for="music in musics">
                        <td style="word-wrap: break-word;word-break: break-all;">{{music.name}}</td>
                        <td style="word-wrap: break-word;word-break: break-all;">{{getName(music.artist)}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center"><a style="text-align:center;width:100%;color:red"
                                v-on:click="next()">···加载更多···</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- 播放器 -->
        <div id="playCard">
            <div style="background: rgba(0,0,0,0.6);z-index: 999;height: 100%;width: 100%;" id="playCardContent">
                <div style="width: 100%;">
                    <div>
                        <i class="fa fa-chevron-left"
                        style="font-size: 30px;color: white;margin-left: 10px;margin-top: 20px;"
                        v-on:click="hidePlayCard()"></i>
                        <i class="fa fa-share-alt"
                        style="font-size: 30px;color: white;margin-right: 10px;margin-top: 20px;float:right"
                        v-on:click="share()"></i>
                    </div>
                    <div style="color: white;font-size: 16px;padding:5px;text-align: center;width: 100%;" id="title">
                        歌曲名称</div>
                    <div style="color: white;font-size: 12px;padding:5px;text-align: center;width: 100%;" id="author">
                        演唱者
                    </div>
                </div>

                <div style="text-align: center;width: 100%;margin-top: 20px;">
                    <a id='download' style="display:block;margin:10px"><img id="image"
                            src="https://p1.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg"
                            style="width: 200px; height: 200px;box-shadow: 1px 1px 2px 2px white;border-radius:50%" /></a>
                </div>

                <!-- 歌词部分 -->
                <div class="lrcPart" @click="toggleJump()">
                    <ul id="lyric">
                    </ul>
                    <canvas id="jump" style="margin: 0px auto;width: 80%;height: 100px;max-height: 150px;display: none;">
                    </canvas>
                </div>

                <div class="playCardPart">
                    <div style="width: 100%;padding: 2px 5px 2px 5px;margin: 0px auto;">
                        <P id="str">00:00</P>
                        <P id="end" style="float: right;margin-right: 5px;font-size: .25rem">00:00</P>
                        <progress class="progress is-danger is-small" value="0" max="100" id="playProgress"
                            style="height: 2px;width: 98%;margin: 0 auto;">|</progress>
                    </div>
                    <div style="padding: 5px;display: flex;flex-direction: row;align-items: center;width: 100%;">
                        <i class="fa fa-step-backward" style="font-size: 20px;margin: 0px 8px;color:rgb(0, 0, 0);"
                            v-on:click="lastSong()"></i>
                        <div style="font-size: 20px;margin: 0px 8px;color: black;" id="playControl"
                            v-on:click="listen2()">▶</div>
                        <i class="fa fa-step-forward" style="font-size: 20px;margin: 0px 8px;color:rgb(0, 0, 0);"
                            v-on:click="nextSong()"></i>
                        <i class="fa fa-stop" style="font-size: 20px;margin: 0px 8px;color:rgb(0, 0, 0);" v-on:click="stop()"></i>
                        <div style="display: flex;flex-direction: row;position: absolute;right: 15px;">
                            <i id="playModeTag" class="fa fa-exchange" style="font-size: 20px;margin: 0px 5px;color:rgb(0, 0, 0);"
                                v-on:click="playMode()"></i>
                            <i class="fi-list" style="font-size: 20px;margin: 0px 5px;color:rgb(244, 121, 131);"
                                v-on:click="toggleCard()"></i>
                            <i class="fi-heart" style="font-size: 20px;margin: 0px 5px;" :class="{'mactive': exists}"
                                v-on:click="collect()"></i>
                        </div>
                    </div>
                </div>

                <div>
                    <audio autoplay="autoplay" crossOrigin="anonymous" controls="controls" id="player" style="display: none;">
                        <source id="source">
                        </source>
                    </audio>
                </div>
            </div>
        </div>

    </div>

    <script>
        var lineNo = 0;

        function searchCallback(rdata) {
            $("#btns").show();
            vue.musics = rdata;
        };

        function renderFrame() {
             requestAnimationFrame(renderFrame);//方法renderFrame托管到定时器，无限循环调度，频率<16.6ms/次

             context.fillStyle = "#000";//黑色背景
             context.fillRect(0, 0, WIDTH, HEIGHT);//画布拓展全屏,动态调整

             analyser.getByteFrequencyData(dataArray);//获取当前时刻的音频数据

             //part6: 绘画声压条
             var x = 0;
             for (var i = 0; i < bufferLength; i++) {
                 var data = dataArray[i];//int,0~255

                 var percentV = data / 255;//纵向比例
                 var percentH = i / bufferLength;//横向比例

                 barHeight = HEIGHT * percentV;

                 //gbk,0~255
                 var r = 255 * percentV;//值越大越红
                 var g = 255 * percentH;//越靠右越绿
                 var b = 50;

                 context.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
                 context.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);

                 x += barWidth + 1;//间隔1px
             }
       }

        window.searchCallback2 = function(rdata) {
            console.log(rdata.length);
            if(rdata.length > 0){
                if(rdata[0].source == "netease"){
                    rdata.forEach(function(item, index){
                        vue.neteaseMusics.splice(-1,0,item);
                        vue.musics.splice(-1,0,item);
                    })
                }
                else if(rdata[0].source == "kugou"){
                    rdata.forEach(function(item, index){
                        vue.kugouMusics.splice(-1,0,item);
                        vue.musics.splice(-1,0,item);
                    })
                }
            }
            
        };
        window.searchCallback3 = function(rdata) {
            console.log(rdata.length);
            if(rdata.length > 0){
                if(rdata[0].source == "netease"){
                    rdata.forEach(function(item, index){
                        vue.neteaseMusics.splice(-1,0,item);
                        vue.musics.splice(-1,0,item);
                    })
                }
                else if(rdata[0].source == "kugou"){
                    rdata.forEach(function(item, index){
                        vue.kugouMusics.splice(-1,0,item);
                        vue.musics.splice(-1,0,item);
                    })
                }
            }
            
        };
        function picCallback(rdata) {
            if (rdata.url != ""){
                $("#image").attr("src", rdata.url);
                $("#playCard").css("background-image", "url(" + rdata.url + ')');
            }else{
                $("#image").attr("src", "https://p1.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg");
            }
        };
        function songCallback(rdata) {
            if (rdata.url == "") {
                if (vue.mode == 1) {
                    vue.current = null;
                    $("#player")[0].currentTime = 0;
                    $("#playControl").html("▶");
                    alert("资源不存在, 请播放其他资源");
                    return;
                }
                if (vue.playList.length > 0) {
                    if (vue.mode == 2) {
                        if (vue.currentIndex == vue.playList.length - 1) {
                            $("#player")[0].currentTime = 0;
                            return;
                        }
                        vue.currentIndex += 1;
                        vue.listen(vue.playList[vue.currentIndex]);
                    } else if (vue.mode == 3) {
                        vue.listen(vue.playList[Math.floor((Math.random() * vue.playList.length))]);
                    }
                }
                return;
            }
            $("#player").attr("crossOrigin", "anonymous");
            $("#player").attr("src", rdata.url);
            $("#download").attr("download", $("#title").html());
            $("#download").attr("href", rdata.url);
            // $("#player")[0].play();
            // $("#playerBar").addClass("rotate");
            vue.listen2();
        };

        function lrcCallback(rdata) {
            vue.createLrcObj(rdata.lyric);
        };

        var linehight = function (lineno) {
            var ul = $("#lyric");
            var $ul = document.getElementById('lyric');

            if (lineno > 0) {
                $(ul.find("li").get(topNum + lineno - 1)).removeClass("lineheight");
            }
            var nowline = ul.find("li").get(topNum + lineno);
            $(nowline).addClass("lineheight");

            var _scrollTop;
            $ul.scrollTop = 0;
            if ($ul.clientHeight * fraction > nowline.offsetTop) {
                _scrollTop = 0;
            } else if (nowline.offsetTop > ($ul.scrollHeight - $ul.clientHeight * (1 - fraction))) {
                _scrollTop = $ul.scrollHeight - $ul.clientHeight;
            } else {
                _scrollTop = nowline.offsetTop - $ul.clientHeight * fraction;
            }


            //以下声明歌词高亮行固定的基准线位置成为 “A”
            if ((nowline.offsetTop - $ul.scrollTop) >= $ul.clientHeight * fraction) {
                //如果高亮显示的歌词在A下面，那就将滚动条向下滚动，滚动距离为 当前高亮行距离顶部的距离-滚动条已经卷起的高度-A到可视窗口的距离
                $ul.scrollTop += Math.ceil(nowline.offsetTop - $ul.scrollTop - $ul.clientHeight * fraction);

            } else if ((nowline.offsetTop - $ul.scrollTop) < $ul.clientHeight * fraction && _scrollTop != 0) {
                //如果高亮显示的歌词在A上面，那就将滚动条向上滚动，滚动距离为 A到可视窗口的距离-当前高亮行距离顶部的距离-滚动条已经卷起的高度
                $ul.scrollTop -= Math.ceil($ul.clientHeight * fraction - (nowline.offsetTop - $ul.scrollTop));

            } else if (_scrollTop == 0) {
                $ul.scrollTop = 0;
            } else {
                $ul.scrollTop += $(ul.find('li').get(0)).height();
            }

        }

        var vue = new Vue({
            el: "#app",
            data: {
                page: 1,
                neteaseMusics:[],
                xiamiMusics:[],
                baiduMusics:[],
                kugouMusics:[],
                tencentMusics:[],
                musics: [],
                exists: false,
                current: null,
                collects: [],
                oLRC: {
                    ti: "", //歌曲名
                    ar: "", //演唱者
                    al: "", //专辑名
                    by: "", //歌词制作人
                    offset: 0, //时间补偿值，单位毫秒，用于调整歌词整体位置
                    ms: [] //歌词数组{t:时间,c:歌词}
                },
                playList: [],
                currentIndex: 0,
                mode: 1,
                index: 0
            },
            mounted() {
                var colls = JSON.parse(localStorage.getItem('collects'));
                if (colls != null && colls != undefined && colls.length > 0) {
                    this.collects = colls.concat();
                }
            },
            methods: {
                showPlayer: function () {
                    $("#searchArea").hide();
                    $("#listArea").hide();
                    $("#playerBar").hide();
                    $("#playCard").show();
                },
                lastSong: function () {
                    var mode = vue.mode;
                    if (mode == 1) {
                        $("#player")[0].currentTime = 0;
                        return;
                    }
                    if (vue.playList.length > 0) {
                        if (mode == 2) {
                            if (vue.currentIndex == 0) {
                                $("#player")[0].currentTime = 0;
                                return;
                            }
                            vue.currentIndex -= 1;
                            vue.listen(vue.playList[vue.currentIndex]);
                        } else if (mode == 3) {
                            vue.listen(vue.playList[Math.floor((Math.random() * vue.playList.length))]);
                        }
                    }
                },
                hideJump:function(){
                    $("#lyric").hide();
                    $("#jump").show();
                },
                hideLyric:function(){
                    $("#lyric").show();
                    $("#jump").hide();
                },
                toggleJump:function(){
                    if ($("#jump").is(":visible")){
                         $("#lyric").show();
                         $("#jump").hide();
                    } else {
                        $("#lyric").hide();
                        $("#jump").show();
                    }
                },
                nextSong: function () {
                    var mode = vue.mode;
                    if (mode == 1) {
                        $("#player")[0].currentTime = 0;
                        return;
                    }
                    if (vue.playList.length > 0) {
                        if (mode == 2) {
                            if (vue.currentIndex == vue.playList.length - 1) {
                                $("#player")[0].currentTime = 0;
                                return;
                            }
                            vue.currentIndex += 1;
                            vue.listen(vue.playList[vue.currentIndex]);
                        } else if (mode == 3) {
                            vue.listen(vue.playList[Math.floor((Math.random() * vue.playList.length))]);
                        }
                    }
                },
                stop: function () {
                    $("#player")[0].pause();
                    $("#playerBar").removeClass("rotate");
                    $("#player")[0].currentTime = 0;
                    $("#playControl").html("▶");
                },
                playMode: function () {
                    if ($("#playModeTag").hasClass("fa-exchange")) {
                        $("#playModeTag").removeClass("fa-exchange");
                        $("#playModeTag").addClass("fa-level-down");
                        vue.mode = 2;

                    } else if ($("#playModeTag").hasClass("fa-level-down")) {
                        $("#playModeTag").removeClass("fa-level-down");
                        $("#playModeTag").addClass("fa-random");
                        vue.mode = 3;

                    } else if ($("#playModeTag").hasClass("fa-random")) {
                        $("#playModeTag").removeClass("fa-random");
                        $("#playModeTag").addClass("fa-exchange");
                        vue.mode = 1;
                    }
                },
                listen3: function (music) {
                    this.playList = this.collects;
                    for (var i = 0; i < this.collects.length; i++) {
                        if (this.collects[i].url_id == music.url_id) {
                            this.currentIndex = i;
                            break;
                        }
                    }
                    this.listen(music);

                },
                listen4: function (music) {
                    this.playList = this.musics;
                    for (var i = 0; i < this.musics.length; i++) {
                        if (this.musics[i].url_id == music.url_id) {
                            this.currentIndex = i;
                            break;
                        }
                    }
                    this.listen(music);

                },
                closeCard: function () {
                    $("#card").hide();
                },
                toggleCard: function () {
                    $("#card").show();
                },
                next: function () {
                    this.page++;
                    var text = $("#searchInput").val();
                    if (text == "") {
                        alert("请输入歌曲名称!");
                        return;
                    }

                    $.ajax({
                        url: 'http://www.runker.cool/music/api.php',
                        type: 'post',
                        async:false,
                        dataType: 'jsonp',  // 请求方式为jsonp
                        jsonpCallback: "searchCallback2",    // 自定义回调函数名
                        data: { types: 'search', count: 20, source: 'netease', pages: this.page, name: text }
                    });
                    $.ajax({
                        url: 'http://www.runker.cool/music/api.php',
                        type: 'post',
                        async:false,
                        dataType: 'jsonp',  // 请求方式为jsonp
                        jsonpCallback: "searchCallback2",    // 自定义回调函数名
                        data: { types: 'search', count: 20, source: 'kugou', pages: this.page, name: text }
                    });

                    vue.playList = vue.musics;

                },
                search: function () {
                    this.page = 1;
                    var text = $("#searchInput").val();
                    if (text == "") {
                        alert("请输入歌曲名称!");
                        return;
                    }
                    this.musics = [];
                    this.playList = [];

                    $.ajax({
                        //url: 'http://music.runker.net/api.php',
                        url: 'http://www.runker.cool/music/api.php',
                        async:false,
                        type: 'post',
                        cache:false,
                        dataType: 'jsonp',  // 请求方式为jsonp
                        jsonpCallback: "searchCallback3",    // 自定义回调函数名
                        data: { types: 'search', count: 20, source: 'netease', pages: 1, name: text },
                        success:function(rdata){                                                           
                            $.ajax({
                                url: 'http://www.runker.cool/music/api.php',
                                type: 'post',
                                async:false,
                                cache:false,
                                dataType: 'jsonp',  // 请求方式为jsonp
                                jsonpCallback: "searchCallback3",    // 自定义回调函数名
                                data: { types: 'search', count: 20, source: 'kugou', pages: 1, name: text }
                            });
                        }
                    });
                      
                    this.playList = this.musics;
                },

                getName: function (names) {
                    var name = "";
                    for (var i = 0; i < names.length; i++) {
                        name += names[i];
                        if (i != names.length - 1) {
                            name += "&"
                        }
                    }
                    return name;
                },
                getLength: function (duration) {
                    var dur = duration / 1000;
                    return parseInt(dur / 60) + ":" + parseInt(dur % 60);
                },
                collect: function () {
                    var tempCurrent = this.current;
                    if (tempCurrent == null) {
                        return;
                    }

                    var cMusic = this.collects.find((a) => a.url_id == tempCurrent.url_id);
                    if (cMusic == null) {
                        this.collects.push(tempCurrent);
                        vue.exists = true;
                    } else {
                        this.collects = this.collects.filter((a) => a.url_id != cMusic.url_id);
                        vue.exists = false;
                    }
                    localStorage.setItem('collects', JSON.stringify(this.collects));

                },
                createLrcObj: function (lrc) {
                    if (lrc.length == 0)
                        return;

                    this.oLRC.ti = ""; //歌曲名
                    this.oLRC.ar = ""; //演唱者
                    this.oLRC.al = ""; //专辑名
                    this.oLRC.by = ""; //歌词制作人
                    this.oLRC.offset = 0; //时间补偿值，单位毫秒，用于调整歌词整体位置
                    this.oLRC.ms = []; //歌词数组{t:时间,c:歌词}
                    var lrcs = lrc.split('\n');//用回车拆分成数组
                    for (var i in lrcs) {//遍历歌词数组
                        lrcs[i] = lrcs[i].replace(/(^\s*)|(\s*$)/g, ""); //去除前后空格
                        var t = lrcs[i].substring(lrcs[i].indexOf("[") + 1, lrcs[i].indexOf("]"));//取[]间的内容
                        var s = t.split(":");//分离:前后文字
                        if (isNaN(parseInt(s[0]))) { //不是数值
                            for (var i in this.oLRC) {
                                if (i != "ms" && i == s[0].toLowerCase()) {
                                    this.oLRC[i] = s[1];
                                }
                            }
                        } else { //是数值
                            var arr = lrcs[i].match(/\[(\d+:.+?)\]/g);//提取时间字段，可能有多个
                            var start = 0;
                            for (var k in arr) {
                                start += arr[k].length; //计算歌词位置
                            }
                            var content = lrcs[i].substring(start);//获取歌词内容
                            for (var k in arr) {
                                var t = arr[k].substring(1, arr[k].length - 1);//取[]间的内容
                                var s = t.split(":");//分离:前后文字
                                this.oLRC.ms.push({//对象{t:时间,c:歌词}加入ms数组
                                    t: (parseFloat(s[0]) * 60 + parseFloat(s[1])).toFixed(3),
                                    c: content
                                });
                            }
                        }
                    }
                    this.oLRC.ms.sort(function (a, b) {//按时间顺序排序
                        return a.t - b.t;
                    });
                    this.index = 0;
                },
                showLRC: function (current) {
                    if (this.oLRC.ms.length == 0) {
                        return;
                    }
                    var s = "";
                    var index = 0;
                    for (var i = index; i < this.oLRC.ms.length; i++) {//遍历ms数组，把歌词加入列表
                        if (this.oLRC.ms[i].t < current) {
                            index++;
                        } else {
                            break;
                        }
                    }

                    // index 是下一句
                    if (index > 5) {
                        for(var i = index-6; i <= index -2; i++){
                            s += '<li style="min-height:18px;">' + this.oLRC.ms[i].c + '</li>';
                        }
                        if (index == this.oLRC.ms.length){
                            s += '<li style="min-height:18px;"><label class="labeld" style="font-size: 16px;font-weight: bold;-webkit-background-clip: text;color: transparent;background-image: linear-gradient(to right, #ff0000 '+ Number(100*(current - this.oLRC.ms[index - 1].t) / ($("#player")[0].duration - this.oLRC.ms[index - 1].t)) +'%, #ffffff 0%);">' + this.oLRC.ms[index - 1].c + '</label></li>';
                        }else{
                            s += '<li style="min-height:18px;"><label class="labeld" style="font-size: 16px;font-weight: bold;-webkit-background-clip: text;color: transparent;background-image: linear-gradient(to right, #ff0000 '+ Number(100*(current - this.oLRC.ms[index - 1].t) / (this.oLRC.ms[index].t - this.oLRC.ms[index - 1].t)) +'%, #ffffff 0%);">' + this.oLRC.ms[index - 1].c + '</label></li>';
                        }
                        for(var i = index; i < Math.min(index+5, this.oLRC.ms.length); i++){
                            s += '<li style="min-height:18px;">' + this.oLRC.ms[i].c + '</li>';
                        }
                    } else {
                        for (var i = 0; i < index; i++) {
                            if (i == index - 1) {
                                s += '<li style="min-height:18px;"> <label class="labeld" style="font-size: 16px;font-weight: bold;-webkit-background-clip: text;color: transparent;background-image: linear-gradient(to right, #ff0000 ' + Number(100*(current - this.oLRC.ms[i].t) / (this.oLRC.ms[i+1].t - this.oLRC.ms[i].t)) +'%, #ffffff 0%);">'+ this.oLRC.ms[i].c + '</label></li>';
                            } else {
                                s += '<li style="min-height:18px;">' + this.oLRC.ms[i].c + '</li>';
                            }
                        }
                        for(var i = index; i < 10; i++){
                            s += '<li style="min-height:18px;">' + this.oLRC.ms[i].c + '</li>';
                        }
                    }
                    document.getElementById("lyric").innerHTML = s;
                },
                hidePlayCard: function () {
                    $("#playCard").hide();
                    $("#searchArea").show();
                    $("#listArea").show();
                    $("#playerBar").show();
                },
                share:function(){
                    $("label.labeld").addClass("linehight");
                    $("label.labeld").removeClass("labeld");
                    // var htmlDom = document.getElementById("playCardContent");
                    var htmlDom = document.body;
                    html2canvas(htmlDom,{useCORS:true,logging:true, scrollY: 0, scrollX: 0}).then(function(canvas) {
                        var base64 = canvas.toDataURL("image/jpeg");
                        console.log(base64 );//生成本地base64图片
                    });
                    $("label.linehight").addClass("labeld");
                    $("label.linehight").removeClass("linehight");
                },

                jumpShow:function(){
                    //part1: 画布
                     var canvas = document.getElementById("jump");
                     var context = canvas.getContext("2d");
                     var WIDTH = canvas.width;
                     var HEIGHT = canvas.height;

                     var audio = $("#player")[0];
                     // audio.load();

                    //part3: 分析器
                     var AudCtx = new AudioContext();//音频内容
                     var src = AudCtx.createMediaElementSource(audio);
                     var analyser = AudCtx.createAnalyser();
                     
                     src.connect(analyser);
                     analyser.connect(AudCtx.destination);
                     analyser.fftSize = 128;//快速傅里叶变换, 必须为2的N次方

                     var bufferLength = analyser.frequencyBinCount;// = fftSize * 0.5

                     //part4: 变量
                     var barWidth = (WIDTH / bufferLength) - 1;//间隔1px
                     var barHeight;

                     var dataArray = new Uint8Array(bufferLength);//8位无符号定长数组

                     function renderFrame() {
                         requestAnimationFrame(renderFrame);//方法renderFrame托管到定时器，无限循环调度，频率<16.6ms/次

                         // context.fillStyle = "#000";//黑色背景
                         context.fillStyle = 'rgba(255, 255, 255, 0)';
                         context.clearRect(0,0,WIDTH,HEIGHT);
                         context.fillRect(0, 0, WIDTH, HEIGHT);//画布拓展全屏,动态调整

                         analyser.getByteFrequencyData(dataArray);//获取当前时刻的音频数据

                         //part6: 绘画声压条
                         var x = 0;
                         for (var i = 0; i < bufferLength; i++) {
                             var data = dataArray[i];//int,0~255

                             var percentV = data / 255;//纵向比例
                             var percentH = i / bufferLength;//横向比例

                             barHeight = HEIGHT * percentV;

                             //gbk,0~255
                             var r = 255 * percentV;//值越大越红
                             var g = 255 * percentH;//越靠右越绿
                             var b = 50;

                             context.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
                             context.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);

                             x += barWidth + 1;//间隔1px
                         }
                     }
                     renderFrame();
                },
                listen2: function () {
                    if (this.current == null || this.current.url_id == "") {
                        return;
                    }
                    if (!$("#player")[0].paused) {
                        $("#player")[0].pause();
                        $("#playerBar").removeClass("rotate");
                        $("#playControl").html("▶");
                    } else {
                        try{
                            this.jumpShow();
                        }catch(e){
                            console.log(e);
                        }
                        $("#player")[0].play();
                        $("#playerBar").addClass("rotate");
                        $("#playControl").html("||");
                    }
                },
                listen: function (music) {
                    $("#searchArea").hide();
                    $("#listArea").hide();
                    $("#playerBar").hide();
                    if (this.current != null && this.current.url_id == music.url_id) {
                        $("#playCard").show();
                        this.listen2();
                        return;
                    }
                    $("#player")[0].pause();
                    $("#playerBar").removeClass("rotate");
                    var auth = vue.getName(music.artist);
                    $("#title").html(music.name);
                    $("#author").html(auth);
                    $.ajax({
                        url: 'http://www.runker.cool/music/api.php',
                        type: 'post',
                        dataType: 'jsonp',  // 请求方式为jsonp
                        jsonpCallback: "picCallback",    // 自定义回调函数名
                        data: { types: 'pic', id: music.pic_id, source: music.source }
                    });

                    $.ajax({
                        url: 'http://www.runker.cool/music/api.php',
                        type: 'post',
                        dataType: 'jsonp',  // 请求方式为jsonp
                        async: false,
                        jsonpCallback: "songCallback",    // 自定义回调函数名
                        data: { types: 'url', id: music.url_id, source: music.source }
                    });

                    $.ajax({
                        url: 'http://www.runker.cool/music/api.php',
                        type: 'post',
                        dataType: 'jsonp',  // 请求方式为jsonp
                        jsonpCallback: "lrcCallback",    // 自定义回调函数名
                        data: { types: 'lyric', id: music.lyric_id, source: music.source }
                    });

                    var tempCurrent = this.current = music;
                    var cMusic = this.collects.find((a) => a.url_id == tempCurrent.url_id && a.source == tempCurrent.source);
                    if (cMusic == null) {
                        vue.exists = false;
                    } else {
                        vue.exists = true;
                    }

                    $("#playControl").html("||");
                    $("#playCard").show();
                }
            }
        });

        function format(time) {
            var time = parseInt(time);
            var m = parseInt(time / 60);
            var s = parseInt(time % 60);
            m = zero(m);
            s = zero(s);
            function zero(num) {
                if (num < 10) {
                    num = "0" + num;
                }
                return num;
            }
            return m + ":" + s;
        }

        // function renderFrame() {
        //      requestAnimationFrame(renderFrame);//方法renderFrame托管到定时器，无限循环调度，频率<16.6ms/次

        //      context.fillStyle = "#000";//黑色背景
        //      context.fillRect(0, 0, WIDTH, HEIGHT);//画布拓展全屏,动态调整

        //      analyser.getByteFrequencyData(dataArray);//获取当前时刻的音频数据

        //      //part6: 绘画声压条
        //      var x = 0;
        //      for (var i = 0; i < bufferLength; i++) {
        //          var data = dataArray[i];//int,0~255

        //          var percentV = data / 255;//纵向比例
        //          var percentH = i / bufferLength;//横向比例

        //          barHeight = HEIGHT * percentV;

        //          //gbk,0~255
        //          var r = 255 * percentV;//值越大越红
        //          var g = 255 * percentH;//越靠右越绿
        //          var b = 50;

        //          context.fillStyle = "rgb(" + r + "," + g + "," + b + ")";
        //          context.fillRect(x, HEIGHT - barHeight, barWidth, barHeight);

        //          x += barWidth + 1;//间隔1px
        //      }
        //  }

        $("#searchInput").val("最新");
        $.ajax({
            url: 'http://www.runker.cool/music/api.php',
            async:false,
            type: 'post',
            cache:false,
            dataType: 'jsonp',  // 请求方式为jsonp
            jsonpCallback: "searchCallback2",    // 自定义回调函数名
            data: { types: 'search', count: 20, source: 'netease', pages: 1, name: "最新" },
            success:function(rdata){
                $.ajax({
                    url: 'http://www.runker.cool/music/api.php',
                    type: 'post',
                    async:false,
                    cache:false,
                    dataType: 'jsonp',  // 请求方式为jsonp
                    jsonpCallback: "searchCallback2",    // 自定义回调函数名
                    data: { types: 'search', count: 20, source: 'kugou', pages: 1, name: "最新" }
                });
            }
        });

        // 更新时间
        $("#player")[0].addEventListener("timeupdate", function () {
            var audio = $("#player")[0];
            if (audio.currentTime == audio.duration) {
                $("#playControl").html("▶");
            }
            var n = audio.currentTime / audio.duration * 100;
            if(!isNaN(Math.round(n)))
                $("#playProgress").val(Math.round(n));
            $("#str").html(format(audio.currentTime));
            $("#end").html(format(audio.duration));
            vue.showLRC(audio.currentTime);
        })

        // 结束播放
        document.getElementById("player").onended = function () {
            if (vue.playList.length > 0) {
                var mode = vue.mode;
                if (mode == 1) {
                    vue.listen(vue.current);
                } else if (mode == 2) {
                    if (vue.currentIndex == vue.playList.length - 1) {
                        $("#playerBar").removeClass("rotate");
                        return;
                    }
                    vue.currentIndex += 1;
                    vue.listen(vue.playList[vue.currentIndex]);
                } else if (mode == 3) {
                    vue.listen(vue.playList[Math.floor((Math.random() * vue.playList.length))]);
                }
            }
        };

        //点击进度条位置
        $("#playProgress").click(function (ev) {
            var ev = ev || window.event;
            var audio = $("#player")[0];
            var x = ev.pageX - this.offsetLeft;
            audio.currentTime = x / this.offsetWidth * audio.duration;
        });

    </script>
</body>
</html>
