<html>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
	<link rel="stylesheet" href="bulma.css"/>
	<script src="https://unpkg.com/vue@2.6.6/dist/vue.js"></script>
	<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
	<script src="jquery.js"></script>
	<head>
		<title>云音乐</title>
	</head>
	<body>
				<nav class="navbar is-link" role="navigation" aria-label="main navigation">
			<div class="navbar-brand">
				<a class="navbar-item" href="#">
					<h1 class="title has-text-white">
					DateLY
					</h1>
				</a>
		 
				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" id="bar-btn">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
	
			<div id="navbarBasicExample" class="navbar-menu ">
				<div class="navbar-start">
					<a class="navbar-item ">
						每日新闻
					</a>
							 
					<a class="navbar-item">
						教师资格
					</a>
					
					<a class="navbar-item" herf="index.html" target="_self" onclick="location='index.html'">
						教师招聘
					</a>
					
					<a class="navbar-item" href="book.html" target="_self" onclick="location='book.html'">
						人教版电子教材
					</a>
					
					<a class="navbar-item" href="interview.html" target="_self" onclick="location='interview.html'">
						面试技巧
					</a>
					
					<a class="navbar-item" href="resource.html" target="_self" onclick="location='resource.html'">
						招聘考试资料
					</a>
					
					<a class="navbar-item" href="live.html" target="_self" onclick="location='live.html'">
						在线直播
					</a>
					
					<a class="navbar-item  is-active" href="music.html" target="_self" onclick="location='music.html'">
						云音乐
					</a>
					
					<a class="navbar-item " herf="https://github.com/dayAndnight2018/teacher/edit/master/dailyEnglish.html" target="_self" onclick="location='dailyEnglish.html'">
						每日一句
					</a>
					
				</div>
			</div>
		</nav>
		
		<div>
			<div id="app">
				<h2 class="is-size-3 has-text-danger has-text-centered has-text-weight-bold" style="margin: 80px auto;">云音乐</h2>
					<div style="width:80%;display: flex;flex-direction: row;margin: 80px auto;justify-content: center;">
					
					<div style="flex: 4;">
						<div >
							<a >
								<img src="http://p4.music.126.net/N2whh2Prf0l8QHmCpShrcQ==/19140298416347251.jpg?param=150y150" />
							</a>

							<a>
								<img src="http://p4.music.126.net/2klOtThpDQ0CMhOy5AOzSg==/18878614648932971.jpg?param=150y150" />
							</a>

							<a>
								<img src="http://p4.music.126.net/JPh-zekmt0sW2Z3TZMsGzA==/18967675090783713.jpg?param=150y150" />
							</a>

							<a>
								<img src="http://p4.music.126.net/N2HO5xfYEqyQ8q6oxCw8IQ==/18713687906568048.jpg?param=150y150" />
							</a>
							<a>
								<img src="http://p4.music.126.net/DrRIg6CrgDfVLEph9SNh7w==/18696095720518497.jpg?param=150y150" />
							</a>
							<a>
								<img src="http://p4.music.126.net/GhhuF6Ep5Tq9IEvLsyCN7w==/18708190348409091.jpg?param=150y150" />
							</a>
							<a>
								<img src="http://p4.music.126.net/11Tw_r2wCvMZY--TtTvuGw==/1416170990976003.jpg?param=150y150" />
							</a>
							<a>
								<img src="http://p4.music.126.net/sBzD11nforcuh1jdLSgX7g==/18740076185638788.jpg?param=150y150" />
							</a>
						</div>
					</div>

					<div style="flex: 6;">
						<div style="margin-top: 20px;display: flex;flex-direction: row;justify-content: center;">
							<input class="input" type="text" placeholder="请输入歌曲名称" style="width: 50%;" id="searchInput" v-on:keyup.enter="search()"/>
							<span style="padding-left: 20px;"><button class="button is-info" @click="search()">搜索</button></span>
						</div>
						
						<div style="margin: 20px auto;">
							<table class="table is-scripted is-hoverable" style="margin: 0 auto;">
								<thead v-if="musics.length>0">
									<th>歌曲名称</th>
									<th>演唱者</th>
									<th>乐源</th>
									<th>试听</th>
								</thead>
								<tbody style="overflow-y: scroll;">
									<tr v-for="music in musics">
										<td>{{music.name}}</td>
										<td>{{getName(music.artist)}}</td>
										<td>{{music.source}}</td>
										<td><button class="button is-primary is-small" @click="listen(music)">试听音乐</button></td>
									</tr>							
								</tbody>
							</table>
							
						</div>
					</div>
				</div>
				

					<div style="width:80%;left:0;right:0;margin:0 auto;bottom:2px;position: fixed;z-index: 10;border-radius:0px 8px 8px 8px;  box-shadow: 3px 3px 5px 5px silver;display: flex; flex-direction: row;justify-content: flex-start;align-items: center;height:100px;background: #ff3333;padding: 10px;">					
						<img id="image" src="https://p1.music.126.net/6y-UleORITEDbvrOLV0Q8A==/5639395138885805.jpg" style="width: 64px; height: 64px;margin: 10px;"/>
						<div style="display: flex;flex-direction: column;width: 100%;height: 60px;">
							<div style="display: flex;flex-direction: row; margin: 3px;color: white"><span><h4 id="title">音乐名称</h4></span>-<span id="author">演唱者</span></div>
							<audio autoplay="autoplay" controls="controls"  style="width: 100%;height: 40px;" id="player">
								<source id="source"></source>
							</audio>
						</div>
					</div>
			</div>
		</div>
		<script>

			function searchCallback(rdata) {
					vue.musics = rdata;
			};
			function picCallback(rdata) {
					$("#image").attr("src",rdata.url);
			};
			function songCallback(rdata) {
					$("#source").attr("src",rdata.url);
					$("#player")[0].load();
					$("#player")[0].play();
			};

			var vue = new Vue({
				el:"#app",
				data:{
					musics:[]
				},
				methods:{
					search: function(){
						var text = $("#searchInput").val();
						if(text == "")
						{
							alert("请输入歌曲名称!");
							return;
						}

						$.ajax({
						    url: 'http://music.runker.net/api.php',
						    type: 'post',
						    dataType: 'jsonp',  // 请求方式为jsonp
						    jsonpCallback: "searchCallback",    // 自定义回调函数名
						    data: {types:'search',count:20,source:'netease',pages:1,name:text}
						});

					},
					
					getName: function(names){
						var name = "";
						for(var i = 0; i < names.length; i++){
							name += names[i];
							if(i != names.length-1){
								name += "&"
							}
						}
						return name;
					},
					getLength: function(duration){
						var dur = duration / 1000;
						return parseInt(dur / 60) +":"+ parseInt(dur % 60);
					},
					listen: function(music){
						$("#title").html(music.name);
						var auth = vue.getName(music.artist);
						$("#author").html(auth);

						$.ajax({
						    url: 'http://music.runker.net/api.php',
						    type: 'post',
						    dataType: 'jsonp',  // 请求方式为jsonp
						    jsonpCallback: "picCallback",    // 自定义回调函数名
						    data: {types:'pic',id:music.pic_id,source:'netease'}
						});

							
						$.ajax({
						    url: 'http://music.runker.net/api.php',
						    type: 'post',
						    dataType: 'jsonp',  // 请求方式为jsonp
						    jsonpCallback: "songCallback",    // 自定义回调函数名
						    data: {types:'url',id:music.url_id,source:'netease'}
						});
												
					}
				}
			});
			
			$(document).ready(function(){
				$("ul li").click(function() {
					$(this).siblings().removeClass("is-active");
					$(this).addClass("is-active");
				});
				
				$("#bar-btn").click(function(){
					$("#navbarBasicExample").toggleClass("is-active");
				});
			});
		</script>
	</body>
</html>
